<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django</title>
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  </head>
  <body>
    <div class="jumbotron">
       <form class=""  method="post">
         {{form.as_p}}
         {% csrf_token %}
         <input type="submit" class="btn btn-primary" value="Submit" ></input>
       </form>
    </div>
  </body>
</html>
