<!DOCTYPE html>
{% load staticfiles %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Django</title>
    <link rel="stylesheet" href="{% static "/css/index.css" %}">
  </head>
  <body>
    <h1>This is The Level 2</h1>
    <h2>Here the Access Record : </h2>
    <div class="DjangoTwo">
      {% if access_record %}
        <table>
          <head>
            <th>Name</th>
            <th>Date</th>
          </head>
          {% for acc in access_record %}
            <tr>
              <td>{{acc.name}}</td>
              <td>{{acc.date}}</td>
            </tr>
          {% endfor %}
        </table>
      {% else %}
        <p>No access Record Found</p>
      {% endif %}
    </div>
  </body>
</html>
